.step-item__metadata {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.metadata--status {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 50%;
}
