* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  @include visuallyHidden();
}
