@mixin normalText() {
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

@mixin normalList() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin normalButton() {
  @include normalText();
  color: $main-text-color;
  text-transform: uppercase;
  min-height: 48px;
  border: solid 2px $main-text-color;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1.5px;
}

@mixin normalFieldset() {
  @include normalList();
  border: none;
  color: $main-hearer-text-color;
}

@mixin visuallyHidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin normalPseudo() {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid $main-color;
}

@mixin normalForm() {
  margin: 0;
  padding: 0;
  border: none;
}

@mixin normalButtonHover() {
  color: #ffffff;
  border: 2px solid #444444;
  background-color: #444444;
}

@mixin normalButtonActive() {
  @include normalButtonHover();
  color: rgba(255, 255, 255, 0.3);
}

@mixin desktopWidth() {
  width: 100%;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}


