$white: #ffffff;
$black: #000000;
$dark-blue: #223553;
$grey-background-color: #f4f5f7;
$grey-text-color: #818287;
$purple-background-color: #c3b8fA;
$purple-text-color: #50448e;
$light-blue-background-color: #ddecff;
$orange-mark-color: #ff8a1b;
$red-level-color: #b1443f;
$green-mark-color: #6da34b;
$blue-background-color: #3ba7ed;
$desktopWidth: 1024px;
$tabletWidthCatalog: 767px;
$mobileWidth: $tabletWidthCatalog - 1px;
$retina: 144dpi;
