$main-color: #63d1bb;
$main-text-color: #444444;
$main-hearer-text-color: #000000;
$catalog-color: #ececec;
$desktopWidth: 1024px;
$tabletWidthCatalog: 767px;
$mobileWidth: $tabletWidthCatalog - 1px;
$retina: 144dpi;
